<h1 class="page-header"><%= "#{@user.firstname}" " " "#{@user.lastname}" %></h1>
<h3><%= "#{@user.company}" %><span style="font-size: .7em;"> -- <%= link_to "#{@user.email}", url_for("mailto:#{@user.email}") %></span></h3>

<br /><br />
<h4 class="page-header">Videos Watched</h4>


<br /><br />
<h4 class="page-header">Quizes Completed</h4>
<% if @user.quizzes.any? %>
	<% @user.quizzes.each do |quiz| %>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="well well-sm">
					<%= quiz.name %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<br /><br />
<h4 class="page-header">Badges Earned</h4>