<h1 class="page-header">Video Dropbox Links</h1>

<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">	
<div class="well well-sm">
	<div class="row">
		<div class="col-sm-9">ThinManager Training Video Collection</div>
		<div class="col-sm-3"><%= link_to "Dropbox Collection", "https://www.dropbox.com/sh/zjny4fn99edyp0f/AACCHVkfwFvyT1UraskA056fa?dl=0", target: "_blank" %></div>
	</div>
</div>
</div>
</div>
</div>