<h1 class="page-header">Welcome to Video Learning</h1>
<h3>Let's Learn ThinManager</h3>
<p>Our video learning series is a great way to get to know ThinManager. Watch videos focused on specific features in ThinManager and take quizes to prove your knowledge.</p>
<p>Please register as a new user or Log In to access training and informational ThinManager videos. <span style="color:red;">All fields are required</span>.</p>
<br /><br />
<div class="row">
    <div class="hp-login-form">
        <div class="col-md-6">
            <h3>User Log In</h3><br />
            <%= render 'sessions/login' %>
        </div>
    </div>
    <div class="hp-signup-form">
        <div class="col-md-6">
            <h3>New User Registration</h3>
            <%= render 'users/form' %>
        </div>
    </div>
</div>