<div class="container">		
	<div class="card maintenance-card">
		<div class="card-body">
			<h5 class="card-title">New Video Training Available!</h5>
		</div>
		<div class="alert-image">
			<%= image_tag "thinman-alert-badge.png" %>
		</div>
		<p>We are pleased to announce that the video training of ThinManager has been moved to the ThinManager Portal. The content has been updated and extended to deliver an even more engaging&nbsp;experience.</p>
	</div>
</div>	
	<div class="container" style="margin-top:40px; text-align:center;">	
		<div class="row" style="padding-left:15%; padding-right: 15%;">
			<p style="color:#003366;">Click the "Get Started" button below to set up your new account and start your learning journey with the all new ThinManager&nbsp;Video&nbsp;Training.</p> 

			<p style="color:#003366;">Previous progress will not transfer to your new account. But, with all new updated content, now is the perfect time to refresh what you already know and expand your ThinManager capabilities.</p>
		</div>
		<div class="row" style="margin-top:25px; margin-bottom:55px;">
			<%= link_to "Get Started", "https://partners.thinmanager.com/learn", class: "btn btn-primary" %>
		</div>
	</div>

	<div class="container">
		<div class="row">
			
				<div class="well">
					<p style="margin-bottom:0px; text-align: center;">If you are already have an account in the Thinmanager portal, just <%= link_to "log in", "https://partners.thinmanager.com", style: "font-weight:bold; text-decoration:underline;" %> and navigate to Video Training</p>
				</div>
			
		</div>
	</div>