<div class="maintenance-banner">
	<h1 class="page-header">In Maintenance</h1>
</div>

		
	<div class="card maintenance-card">
		<div class="card-body">
			<h5 class="card-title">Sorry for the Inconvienence</h5>
		</div>
		<div class="alert-image">
			<%= image_tag "alert.png" %>
		</div>
		<p>We are currently revamping and updating the video learning application. Please check back soon for fresh content and improved ThinManager Learning.</p>
	</div>
		
	
