<h1 class="page-header">Video Learning Stats</h1>

<div class="row">
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Users</h3>
		<h1 class="huge"><%= @users.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Videos Watched</h3>
		<h1 class="huge"><%= @allwatched.count %></h1>
	</div>
</div>
<div class="col-sm-4">
	<div class="well centered">
		<h3>Total Quizzes Taken</h3>
		<h1 class="huge"><%= @allquizzed.count %></h1>
	</div>
</div>
</div>