/* Global styles */
.appear {
    display: none;
}
.goAway,
.goAwaySooner {
    display:inline;
}
.email-field {
    margin-bottom: 10px;
}
.well {
    max-width: 100%; padding-left: 2% !important; padding-right: 2% !important;
}
.edit-link {
    float: right;
}
.intro-video {
    width:100%; position: relative; 
}
.intro-video iframe {
    position:relative; width:100%; height: 100%; min-height: 330px;
}
.dash-badges {
    width:100%; min-height: 150px; position: relative;
}
.dash-badges .d-badge {
    float:left; width:23%; margin-left: 1%; margin-right: 1%;
    min-height: 150px; position: relative; opacity:.2;
}
.dash-badges .d-badge img {
    position:relative; height: 100%; width:100%; 
}
.d-badge#productivity-badge {
    opacity:1;
}









/************************ Footer Specific CSS *************************/
.footer-text {
    font-size:.85em;
}
#footer a {
    color:#FFFFFF;
}
#footer {
    width:100%; background-color:#323232;  border-top:thin solid #5C5C5C;
    font-family: 'Roboto', sans-serif; color:#ffffff; min-height:330px; 
    padding-bottom:65px;
}
.lower-footer-boxes h4 {
    line-height:30px !important; color:#878686;
}
.lower-footer-boxes p {
    color:#D1CFCF; padding-left: 35px; 
    padding-right:35px; font-size: .85em;
}
.lower-footer-boxes a {
    color:#D1CFCF; text-transform:uppercase; font-weight:500;  
}
.lower-footer-boxes .lower-foot-box {
    border-right:1px solid #878686; min-height: 120px;
}
.lower-footer-boxes .lower-foot-box:last-child {
    border-right:none;
}
.footIcon1 {
    background-color:#00457c; width:45px; height:45px; border-radius:50%;
}
.footIcon1:hover {
    -webkit-box-shadow:0px 0px 12px 2px #02A5F7;
    -moz-box-shadow:0px 0px 12px 2px #02A5F7;
    -ms-box-shadow:0px 0px 12px 2px #02A5F7;
    -o-box-shadow:0px 0px 12px 2px #02A5F7;
    -chrome-box-shadow:0px 0px 12px 2px #02A5F7;
    box-shadow:0px 0px 12px 2px #02A5F7;    
}
/* Disclaimer box css */
#disclaimer {
    width:100%; background-color:#000000; padding-top:15px; padding-bottom: 25px; margin-bottom: -20px !important;
    color:#666666; 
}
.disLogo {
    opacity:.4;
}
#disclaimer ul.nav a {
    color:#666666;
}
#disclaimer ul.nav a:hover {
    background-color:transparent; color:#FFFFFF;
}
/************************ END Footer Specific CSS *************************/












@media screen and (max-width:992px) {
.goAwaySooner {
    display:none;
} 
.hp-login-form,
.hp-signup-form {
    margin-bottom: 150px;
}
}

@media screen and (max-width:766px) {
.appear {
    display:inline;
}
.goAway {
    display:none;
}
.logo {
    padding-left: 12px;
} 
.email-field, .firstname-field,
.password-field {
    margin-bottom: 5px;
}
}
