/* Global styles */
.appear {
    display: none;
}
.goAway,
.goAwaySooner {
    display:inline;
}
.email-field {
    margin-bottom: 10px;
}




















@media screen and (max-width:992px) {
.goAwaySooner {
    display:none;
} 
}

@media screen and (max-width:766px) {
.appear {
    display:inline;
}
.goAway {
    display:none;
}
.logo {
    padding-left: 12px;
} 
.email-field, .firstname-field,
.password-field {
    margin-bottom: 5px;
}
}
