/* Global styles */
.appear, .appear-sooner {
    display: none;
}
.goAway,
.goAwaySooner {
    display:inline;
}
.email-field {
    margin-bottom: 10px;
}
.well {
    max-width: 100%; padding-left: 2% !important; padding-right: 2% !important;
}
.well-sm {
    margin-bottom: 7px !important;
}
.edit-link {
    float: right;
}
.icons {
    font-size:.85em; text-align: center;
}
.edit-badge {
    background-color:#999999; margin-bottom: 45px; margin-top: -12px;
}
.edit-badge a {
    color:#FFFFFF;
}
.intro-video {
    width:100%; position: relative; 
}
.intro-video iframe {
    position:relative; width:100%; height: 100%; min-height: 330px;
}
.dash-badges {
    width:100%; min-height: 150px; position: relative;
}
.dash-badges .d-badge {
    float:left; width:23%; margin-left: 1%; margin-right: 1%;
    min-height: 150px; position: relative;
}
.dash-badges .d-badge-opacity {
    float:left; width:23%; margin-left: 1%; margin-right: 1%;
    min-height: 150px; position: relative; opacity:.2;
}
.dash-badges .d-badge img,
.dash-badges .d-badge-opacity img {
    position:relative; height: 100%; width:100%; 
}
.new-vid-button {
    float:right; margin-top: -65px;
}
.to-dashboard-button {
    float:right; margin-top: -50px;
}
.listing {
    list-style: none; text-align: center;
}
.listing .well {
    margin-bottom: 5px;
}
.listing li h4 {
    margin-bottom: 0px;
}
.category-listing {
    font-weight:bold; text-transform: uppercase;
}
.input_checkbox input,
.radio_button input {
    width: auto !important; margin-top: 4px !important; 
}
.input_checkbox,
.radio_button {
    margin-right: 20px;
}
.video-frame iframe {
    width:100%;
}
.resource .well {
    margin-bottom: 15px !important;
}
.resource a {
    font-size: 1.35em; color:#717171;
}
.need-space {
    margin-left: 20px;
}
.qqanswer-li {
    line-height: 20px;
}
.dash-video-table .table-heading {
    background-color: #333333; color:#FFFFFF;  
}
.dash-video-table .table-heading th {
    padding-top: 8px; padding-bottom: 8px; 
    font-size: .75em; line-height: .99em;
}
.dash-video-table .table-rows {
    border: 1px solid #999999;
}
.dash-video-table tr.table-rows:nth-child(odd) {background: #E9E9E9;}
.dash-video-table .table-rows td {
    padding-top: 5px; padding-bottom: 5px; font-weight:normal;
}
.centered {
    text-align: center; 
}
.cat-icon {
    text-align: center;
}
ul.quiz-options {
    list-style:none;
}
ul.quiz-options li {
    font-weight: lighter !important;
}
.show-page-badge {
    text-align: center;
}
.show-page-badge img {
    max-width:125px;
}







/**** CTA Span at bottom *****/
.cta-span {width:100%; margin-top:100px; margin-bottom:50px;}
.cta-span .well-sm {
    padding: 20px 20px !important;
    -webkit-box-shadow:1px 1px 2px 1px #BFBFBF; 
    -ms-box-shadow:1px 1px 2px 1px #BFBFBF; -moz-box-shadow:1px 1px 2px 1px #BFBFBF;
    -o-box-shadow:1px 1px 2px 1px #BFBFBF; box-shadow:1px 1px 2px 1px #BFBFBF; 
}
.link-right {text-align:right !important; margin-bottom:0px !important; text-decoration:underline;}
#goGetCertified {opacity:.35;}
/**** End CTA Span at bottom *****/






/************************ Footer Specific CSS *************************/
.footer-text {
    font-size:.85em;
}
#footer a {
    color:#FFFFFF;
}
#footer {
    width:100%; background-color:#323232;  border-top:thin solid #5C5C5C;
    font-family: 'Roboto', sans-serif; color:#ffffff; min-height:330px; 
    padding-bottom:65px;
}
.lower-footer-boxes h4 {
    line-height:30px !important; color:#878686;
}
.lower-footer-boxes p {
    color:#D1CFCF; padding-left: 35px; 
    padding-right:35px; font-size: .85em;
}
.lower-footer-boxes a {
    color:#D1CFCF; text-transform:uppercase; font-weight:500;  
}
.lower-footer-boxes .lower-foot-box {
    border-right:1px solid #878686; min-height: 120px;
}
.lower-footer-boxes .lower-foot-box:last-child {
    border-right:none;
}
.footIcon1 {
    background-color:#00457c; width:45px; height:45px; border-radius:50%;
}
.footIcon1:hover {
    -webkit-box-shadow:0px 0px 12px 2px #02A5F7;
    -moz-box-shadow:0px 0px 12px 2px #02A5F7;
    -ms-box-shadow:0px 0px 12px 2px #02A5F7;
    -o-box-shadow:0px 0px 12px 2px #02A5F7;
    -chrome-box-shadow:0px 0px 12px 2px #02A5F7;
    box-shadow:0px 0px 12px 2px #02A5F7;    
}
/* Disclaimer box css */
#disclaimer {
    width:100%; background-color:#000000; padding-top:15px; padding-bottom: 25px; margin-bottom: -20px !important;
    color:#666666; 
}
.disLogo {
    opacity:.4;
}
#disclaimer ul.nav a {
    color:#666666;
}
#disclaimer ul.nav a:hover {
    background-color:transparent; color:#FFFFFF;
}
/************************ END Footer Specific CSS *************************/












@media screen and (max-width:992px) {
.goAwaySooner {
    display:none;
} 
.hp-login-form,
.hp-signup-form {
    margin-bottom: 150px;
}
.listing {
   margin-left:0; margin-right:0; margin:auto; padding-left: 0;
   max-width: 96%;
}
.to-dashboard-button {
    float:none; margin-top: 0px; margin-bottom: 25px;
}
.appear-sooner {
    display:inline;
}
.resource {
    float:left; width:23%; margin-left: 1%; margin-right: 1%;
    text-align: center;
}
.resource a {
    font-size: .75em;
}
.need-space {
    margin-left:0px;
}
}

@media screen and (max-width:766px) {
.appear {
    display:inline;
}
.goAway {
    display:none;
}
.logo {
    padding-left: 12px;
} 
.email-field, .firstname-field,
.password-field {
    margin-bottom: 5px;
}
.new-vid-button {
    float:none; margin-top: -10px; margin-bottom: 35px;
}

}
