<div class="cta-span">
<div class="row">
<a href="http://www.thinmanager.com/training/" style="color:inherit;">
<div class="col-sm-6">
    <div class="well well-sm">
    <h4>Want Even More Training?</h4>
    <p>We offer in-class, in-depth trainings at our Corporate Headquarters.</p>
    <p class="link-right">Learn More &raquo;</p>
    </div>
</div>
</a>
<div class="col-sm-6">
    <div class="well well-sm" id="goGetCertified">
    <h4><span style="color:red; font-size: .75em;">*COMING SOON*</span> - <!--Ready To--> Get ThinManager Certified?</h4>
    <p>Put your new knowledge to the test and get ThinManager Certified.</p>
    <p class="link-right">Coming Soon &raquo;</p>
    </div>
</div>
</div>
</div>


