<div class="cta-span">
<div class="row">
<a href="http://www.thinmanager.com/training/" style="color:inherit;">
<div class="col-sm-6">
    <div class="well well-sm">
    <h4>Want Even More Training?</h4>
    <p>We offer in-depth ThinManager training you can take from the comfort of your own home or office.</p>
    <p class="link-right">Learn More &raquo;</p>
    </div>
</div>
</a>
<a href="http://www.thinmanager.com/si/" style="color:inherit;">
<div class="col-sm-6">
    <div class="well well-sm" id="goGetCertified">
    <h4>Get ThinManager Certified?</h4>
    <p>Complete self-paced labs that take you through configuration and many features of ThinManager.</p>
    <p class="link-right">Learn More &raquo;</p>
    </div>
</div>
</a>
</div>
</div>


